{% extends 'base.html' %}

{% block content %}
     <!-- Begin Page Content -->
        <div class="container-fluid bg-light">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-gray-800">Current projects</h1>

            <a data-toggle="modal" class="btn btn-outline-warning btn-lg" data-target="#newProjectModal" >
                    <span class="text" >Create new project</span>

                  </a>
             </div>


          <!-- Content Row -->
             {% for pr in projects %}
            <div class="col-xl-12 col-md-6 mb-4">
              <div class="card bg-gray-900 border-left-warning shadow h-100 py-2">
                <div class="card-body ">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xl font-weight-bold text-warning text-uppercase mb-1"><a href="{% url 'proj_detail' pr.id %}" style="color:#ffbb33;">{{ pr.project_name }}</a></div>

                        <div class="text-md mb-0 font-weight-bold text-gray-200">{{ pr.description}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-kaaba fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


             {% endfor %}




        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->




 <!-- New Project Modal-->
  <div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newProjectModalLabel">Create new project</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div> <form class="user" action = "projects" method="post">
        <div class="modal-body">

                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" name = "project_name" autofocus required id = "project_name" class="form-control text_descr"  placeholder="Enter project name...">
                    </div>
                    <div class="form-group">
                        <textarea name = "description" id = "description"  rows="3" class="form-control text_descr" placeholder="Description"></textarea>
                    </div>


        </div>
        <div class="modal-footer">
           <button type="submit" class="btn btn-success btn-user btn-block">Create project</button>
        </div>
           </form>
      </div>
    </div>
  </div>



{% endblock %}