{% extends 'base.html' %}

{% block content %}
     <!-- Begin Page Content -->
        <div class="container-fluid bg-light">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-gray-800">Suggestions</h1>

             </div>


          <!-- Content Row -->
             {% for sugg in suggestions %}
            <div class="col-xl-12 col-md-6 mb-4">
              <div class="card bg-gray-900 border-left-warning shadow h-100 py-2">
                <div class="card-body ">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xl font-weight-bold text-warning text-uppercase mb-1">{{ sugg.creator.username }}</div>

                        <br><div class="h5 mb-0 font-weight-bold text-gray-100">{{ sugg.text}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


             {% endfor %}




        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->







{% endblock %}