{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid bg-light">

           <div id="snackbar">Your suggestion was accepted!  <i class="fas fa-check-circle text-success"></i></div>


           <!-- Suggestion Text -->
          <div class="text-center">
            <br><br>
            <button type="button" class="btn btn-outline-info btn-lg" data-toggle="modal"  data-target="#newSuggestModal">Add new suggestion</button><br><br>
            <button type="button" class="btn btn-outline-warning btn-lg">Review suggestions</button><br><br>
            <p class="text-gray-500 mb-0">You have the ability to mention other users in suggestion</p>
            <a href="/tasks">&larr; Back to current tasks</a><br><br>

          </div>

        </div>



 <!-- New Suggestion Modal-->
  <div class="modal fade" id="newSuggestModal" style="z-index:100000000000;" tabindex="-1" role="dialog" aria-labelledby="newSuggestModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newSuggestModalLabel">Suggestion</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div> <form class="user" action = "suggest" method="post">
        <div class="modal-body">

                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name = "text_sugg" id = "text_sugg"  rows="3" class="form-control text_descr" placeholder="Enter your suggestion here..."></textarea>
                    </div>


        </div>
        <div class="modal-footer">
           <button type="submit" onclick="approve_appear('Your suggestion was accepted!  ')" class="btn btn-success btn-user btn-block">Send suggestion</button>
        </div>
           </form>
      </div>
    </div>
  </div>


<script>


function approve_appear(text) {

  var approve = document.getElementById("snackbar");

  var icon = document.createElement("i");

  icon.className = "fas fa-check-circle text-success";

  approve.innerHTML = text;

  approve.className = "show";

  approve.appendChild(icon);

  setTimeout(function(){ approve.className = approve.className.replace("show", ""); }, 3000);

}
}
</script>

{% endblock %}
